@model IEnumerable<ClassLibrary1.Model.DocumentUploader>

@{
    ViewBag.Title = "GetDocumentList";
}

<h2>GetDocumentList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UploadId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelatedTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelatedRecordId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Document)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UploadId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelatedTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelatedRecordId)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Document)*@
            <img src="@Url.Content(item.Document)" height="100" width="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
